body{
  background-color: #EAF6F6;
  font-family: serif;
  padding-top: 100px;
  text-align: center;
}
.cloud_1{
  bottom:500px;
  left:1100px;
  position: absolute;
}
.cloud_2{
  left: 250px;
  position:absolute;
}
.mountain{
  width:50%;
}
h1{
  color: #66BFBF;
  font-family: Sacramento,sans-serif;
  font-size: 50px;
  margin-top: 50px;
}
h2{
  color: #66BFBF;
  font-family: Montserrat;
  line-height: 2;

}
h3{
  color: #66BFBF;
  font-family: Montserrat;
}
p{
  margin: 0 auto;
  line-height: 2;

}
hr{
  border: 5px dotted #EEF6F6 ;
  border-bottom: none;
  margin: 80px auto;
  width:7%;

}
.skills{
  text-align: center;
  padding: 50px 0px 100px;
  font-family: Montserrat;
  line-height: 2;
}
.profile{
  margin: 50px auto;
  border-radius: 45%;
  width:140px;
}
.middle_container{
padding-top: 25px;
background: #FFFBE7;
margin-top: 50px;
}
.skills_row{
  width:50%;
  margin: 0px auto;
  background: #FFFBE7;
  text-align: left;
  font-family: Montserrat;
  line-height: 2;
}
.computer{
  width:25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.chillies{
  width: 150px;
  height:150px;
  float:right;
  margin-left: 30px;

}
.hor{
  padding: 0 20px;
}
.contact{
  line-height: 3;
}
.interest{
  width:40%;
  margin: 35px auto;
}
.bottom_container{
  background-color: #66BFBF;
  padding: 55px 0;
}
a{
  font-family: Montserrat;
  margin: 0 10px;
  text-decoration: none;
  color: #11999E;
}
a:hover{
  color: #EAF6F6
}
.copy{
  color:#EAF6F6;
  font-size: 12px;
  font-family: Montserrat;
  padding: 45px 0px 0px 20px;
}
.btn{
  margin:35px 0;
  padding: 6px 9px;
  background: linear-gradient(#11cdd4,#11999E);
  font-family: Montserrat;
  border:none;
  border-radius: 6px;
  color: #EAF6F6;
}
.btn:hover{
  background: linear-gradient(#30e3cb,#2bc4ad);
}

